<h1>Hi <%= name %> </h1>

<!-- Overriding our 'POST' method with '_method' and use 'DELETE instead'. -->
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>